pool:
  vmImage: 'Ubuntu 16.04'
  
steps:
  - checkout: self
    submodules: true
  - script: sudo apt-get -qq install hugo
    displayName: Install hugo binaries
  - script: hugo version
    displayName: Output hugo version number for debugging
  - script: hugo
    displayName: Compile web site
