pool:
  vmImage: 'Ubuntu 16.04'

variables:
  hugoVersion: '0.54.0'

steps:
  - checkout: self
    submodules: true
  - script: |
       wget -q https://github.com/gohugoio/hugo/releases/download/v$(hugoVersion)/hugo_$(hugoVersion)_Linux-64bit.deb
       sudo dpkg -i hugo_$(hugoVersion)_Linux-64bit.deb
    displayName: Install hugo binaries
  - script: hugo version
    displayName: Output hugo version number for debugging
  - script: hugo
    displayName: Compile web site
