ul, ol {
    padding-left: 20px;
}
ul {
    list-style-type: unset;
}
ol {
    list-style-type: decimal;
}
ul.list-styled {
    list-style-type: none;
    padding-left: 5px;
}
ul.list-styled li, ul.list-styled li a {
    font-size: 14px;
}
li {
    font-size: 16px;
}

.sidebar-menu ul {
    padding-left: 0;
}