{{ partial "head.html" . }} {{ "<!-- navigation -->" | safeHTML }}
<header class="shadow-bottom position-relative">
    <div class="container">
        {{ partial "navigation.html" . }}
    </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}


<section class="single pt-5 bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="p-5 bg-white">
                    <h2>Technical Support</h2>
                    <p>Email: <a href="mailto:support@40three.io">support@40three.io</a></p>
                    <p>Contact form: <a href="https://40three.freshdesk.com/support/tickets/new">Submit a ticket</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}